<h1> <%= "#{@user.name}'s page" %> </h1>

<ul>
  <% @user.recipes.each do |recipe| %>
    <li> <%= recipe.name %> </li>
  <% end %>
</ul>

<%= button_to 'Delete User', { action: "destroy", id: @user.id },
                                method: :delete %>
